:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
#background-image-inicial{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    
}
.layout-inicial{
    position: absolute;
    width: 588px;
    height: 431px;
    left: 54px;
    top: 125px;
    text-align: center;
    
}
.oferta-inicial{
    font-size: 28px;
    line-height: 33.89px;
}
.button-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.button-flex button{
    background-color: #167BF7;
    border-radius: 8px;
    padding: 16px;
    width: 512px;
    height: 56px;
    color: white;
}
#button-inicial2{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: black;
}
.button-flex p{
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #C0C0C0;
    margin: 0
;
}
.plataformas{
    position: absolute;
    width: 498px;
    height: 560px;
    left: 165px;
    top: 775px;

}
.plataformas-descricao{
    position: absolute;
    width: 588px;
    height: 114px;
    left: 732px;
    top: 998px;
}
.plataformas-descricao h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
.plataformas-descricao p{
    font-size: 16px;
    line-height: 150%;
    opacity: 80%;
}
.telas{
    position: absolute;
    width: 588px;
    height: 144px;
    left: 120px;
    top: 1584px;
    display: flex;
}
